/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

body {
	background-color: #fdf9f3;
}

h1, h2, h3, h4, h5 {
	text-align: center;
	color: #8382BF;
}

.friend{
    max-width: 200px;
}

.container1 {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	height: 50%;
}

.carousel-inner {
	left: 28%;
}

#myCarousel {
	height: 400px;
	/*border-bottom: solid #8382BF;*/
}

.description, .country{
	color: #8382BF;
	width: 450px;
	text-align: center;
	/*display: inline-block;*/
	/*text-align: center;*/
}


.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background: #8382BF;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}